# Maven

target/
*.log

# IDE

.idea/
*.iml
.vscode/

# OS

.DS_Store

# Application

*.properties
!application.properties
!.mvn/wrapper/maven-wrapper.properties

# H2 DB

*.mv.db
*.trace.db

# Logs

logs/
